body {
    /* background: rgb(228, 226, 226);*/
    background: rgb(41, 40, 40);
    // background: linear-gradient(90deg, rgb(74, 74, 82) 33%, rgba(43, 43, 61, 0.183) 63%, rgb(89, 93, 94) 100%);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(226, 191, 77);
    text-align: center;
}

h2 {
    color: rgb(247, 243, 9);
    text-align: center;
}

h4 {
    color: rgb(178, 238, 178);
}

p {
    color: white;
}

li {
    color: khaki;
    text-align: justify;
}

.ahref-color {
    color: rgb(247, 224, 23);
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}    
    