body {
    /* background: rgb(228, 226, 226);*/
    background: rgb(27, 27, 27);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.caradapessoa {
    border-style: ridge;
    border-color: rgb(114, 113, 78);
    border-width: 10px;
    border-radius: 50%;
}

h1 {
    color: rgb(226, 191, 77);
    text-align: center;
}

h2 {
    color: rgb(247, 243, 9);
    text-align: center;
}

h4 {
    color: rgb(178, 238, 178);
}

p {
    color: white;
    text-align: justify;
    margin: 12px 25px 5px 25px;
}

li {
    color: khaki;
    text-align: justify;
}

img {
    margin: 25px 10px 25px 500px;
    width: 900px;
    height: 500px;
    align-items: flex-end;
}

.fullCard {
    border: 5px solid rgb(230, 7, 7);
    border-radius: 100px;
    margin: 10px 5px;
    padding: 4px;
  }
  .cardContent {
    padding: 35px;
  }

.ahref-color {
    color: rgb(247, 224, 23);
}

[class='ahref-color'] {
    margin: 1px 5px 1px 5px
}

/* ::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}     */
    