body {
    /* background: rgb(228, 226, 226);*/
    background: rgb(8, 8, 8);
    // background: linear-gradient(90deg, rgb(74, 74, 82) 33%, rgba(43, 43, 61, 0.183) 63%, rgb(89, 93, 94) 100%);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(247, 239, 235);
    text-align: center;
}

h2 {
    color: crimson;
    text-align: center;
}

p {
    color: honeydew;
}

li {
    color: khaki;
    text-align: justify;
}


::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}    
    